/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Anjoman';
  src: url("./assets/fonts/Anjoman-Medium.ttf");
}

body , html , #root{
  width: 100%;
  height: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-anjoman{
  font-family: 'Anjoman';
}

.pcw{
  min-width: 16rem;
}